h1 {
    color: blue
}

/* h2, h3, p {color: darkred} */

/* li {color: magenta } */

/* #punainen-kohta {color: red} */

h1 {
    color: blue
}

/* h2, h3, p {color: darkred} */

/* li {color: magenta } */

/* #punainen-kohta {color: red} */

body {
    line-height: 1.5;
    padding: 4em 1em;
    margin: 0 auto;
    max-width: 40em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #555;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}
code {
    padding: 2px 4px;
    vertical-align: text-bottom;
    background: #eee;
  }
  